<section>

<a href="/dashboard">Dashboard</a>
  <h2 class="title">Create New Post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Enter Title</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert title here"/>
    </div>
    <div>
      <label for="post-content">Enter Content</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="insert content here"/>
    </div>
   <button class="new-post-form">Sumbit</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>
